<?xml version="1.0"?>
<robot name="justina" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find justina_description)/urdf/macros.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_base_omni.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_torso.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_left_arm.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_right_arm.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_head.xacro"/>
  
  <joint name="torso_connect" type="fixed">
    <origin xyz= "0.05 0 1.08" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="torso_link"/>
  </joint>
  <joint name="shoulder_left_connect" type="fixed">
    <origin xyz="0 0.195 -0.08" rpy="0 0 0"/>
    <parent link="spine_link"/>
    <child link="shoulders_left_link"/>
  </joint>
  <joint name="shoulder_right_connect" type="fixed">
    <origin xyz="0 -0.195 -0.08" rpy="0 0 0"/>
    <parent link="spine_link"/>
    <child link="shoulders_right_link"/>
  </joint>
  <joint name="spine_head_connect" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
    <parent link="spine_link"/>
    <child link="head_link1"/>
  </joint>


</robot>
  
