<?xml version="1.0"?>
<model>
  <name>wall_with_qr_code</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <!--
  <sdf version="1.5">model.sdf</sdf>
  -->

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    full_wall_55_10000_2090_none_collision0_with_qr_code
  </description>
</model>
